.App {
  font-family: "PT Mono", monospace;
  max-width: 600px;
  margin: 50px auto;
}

.container {
  background: #bbe4e9;
  padding: 30px;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 0 5px 5px -2px #888;
}
