h1,
h2,
h3,
h4 {
  font-family: "VT323", monospace;
  text-align: center;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h5 {
  text-align: right;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  text-align: right;
  font-size: 15px;
  line-height: 25px;
}

.place-input {
  line-height: 30px;
}
