h1,
h2,
h3 {
  font-family: "VT323", monospace;
  text-align: center;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h4 {
  font-size: 16px;
}

h5 {
  text-align: right;
  font-size: 18px;
  line-height: 2;
  color: #4f4f4f;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  text-align: right;
  font-size: 15px;
  line-height: 30px;
  color: #3a3d44;
}

.place-input {
  line-height: 30px;
}
